<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Inicio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <button onclick="window.location.href = 'http://localhost:8080/templates/create.html';">Create URL</button>
    <button onclick="window.location.href = 'http://localhost:8080/templates/retrive.html';">Retrieve an original URL from a short URL</button>
    <button onclick="window.location.href = 'http://localhost:8080/templates/update.html';">Update an existing short URL</button>
    <button onclick="window.location.href = 'http://localhost:8080/templates/stats.html';">Get statistics on the short URLL</button>
</body>
</html>